# Ktlint uses some properties defined by .editorconfig, IntelliJ IDEA and custom properties.
# https://pinterest.github.io/ktlint/0.49.0/rules/configuration-ktlint

root = true

[*]
# indent_style = space
# max_line_length = 180 # use a positive number to set max line length
insert_final_newline = true
